<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!--Link to main stylesheet--->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Security Notes</a></li>
	    		</ul>
			</nav>
			<div class="blurb">
				<h1>JDSecDef</h1><img src="https://jdsecdef.github.io/assets/CatCircle.png">
			</div>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/jdsecdef">github.com/JDSecDef</a></li>
				</ul>
			</footer>
		</body>
	</html>